* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    font-size:  var(--font-size);
}
  
body {
    color: var(--color-text);
    background-color: white;
    font-size: 1rem;
    line-height: 1.4;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    width: 100%;
}
