
// Colors
:root {
    --color-primary: #437ac5; /* Azul */
    --color-secondary: #e42e39; /* Rojo */
    --color-three: #333333; /* Negro */
    --color-text: #888888; /* Gris */
    --color-gray: #dddddd; /* Gris */
    --font-size: 10px;
}
