.button {
    color: white;
    display: block;
    padding: 1rem 1.5rem;
    border: none; 
    cursor: pointer;
    border-radius: .4rem;
    margin: 2rem auto;
    font-size: 14px;
}

.button-primary {
    background: var(--color-primary);
    &:hover {
        color: white;
    }
}
