
.search {
    position: relative;
    margin-left: 1rem;
    font-size: 1.4rem;
}

.search input {
    display: block;
    border: 1px solid var(--color-gray);
    background: white;
    border-radius: .4rem;
    outline: none;
    padding: 1rem 1.6rem;
    width: 100%;
    height: 3.8rem;
    color: var(--color-text);
}

.search i {
    color: var(--color-gray);
    cursor: pointer;
    background: white;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 3.7rem;
    height: 3.7rem;
    text-align: center;
    line-height: 3.7rem;
    border: 1px solid var(--color-gray);
    border-bottom: 0;
}