.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.hr {
    margin: 4rem 0;
    border-bottom: 1px solid var(--color-text);
}