.footer {
    background: var(--color-three);
    color: white;
    padding: 4rem 0;
    font-size: 1.6rem;
    
}

.footer-list {
    margin-bottom: 4rem;
    text-align: center;
    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
        text-align: left;
    }
}

.footer-list li {
    color: white;
    margin-bottom: 1rem;
}

.footer-list a {
    font-size: 1.4rem;
    color: white;
}

.footer-list p {
    font-size: 1.4rem;
    text-align: justify;
}