.top {
    background: var(--color-three);
    color: white;
}

.top-menu {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.top-menu a {
    color: white;
    display: inline-block;
    padding: 0.5rem;
    font-size: 1.4rem;
}

.navbar {
    background: white;
    box-shadow: 0 5px 6px rgba(0,0,0,0.1);
}

.navbar > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 170px;
}

.menu {
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;
    display: none;
    &.is-open {
        display: flex;
    }
    @include media-breakpoint-up(lg) {
        display: flex;
        flex-direction: row;
        width: auto;
        padding: 0;
    }
}


.menu li {
    width: 100%;
    @include media-breakpoint-up(lg) {
        width: auto;
    }
}

.menu li a {
    display: inline-block;
    padding: 1.6rem;
    font-size: 1.6rem;
    color: var(--color-text);
    width: 100%;
    text-align: center;
}

.menu li a:hover {
    color: var(--color-primary);
}

.menu-toggle {
    cursor: pointer;
    font-size: 2.4rem;
    color: var(--color-primary);
    @include media-breakpoint-up(lg) {
        display: none;
    }
}
