.brands {
    padding: 2rem 0;
    border-bottom: 1px solid var(--color-gray);
}

.brands > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media-breakpoint-up(lg) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.brands-item  {
    width: 150px;
    margin-bottom: 4rem;
    @include media-breakpoint-up(lg) {
        margin: 0;   
    }
}
