.filter {
    background: white;
    margin-bottom: 4rem;
    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
    }
}

.filter h3 {
    margin: 1rem 0;
    font-size: 1.6rem;
    color: var(--color-three);
}

.filter-item  {
    padding: 0 1rem;
}

.filter-item h4 {
    font-size: 1.4rem;
    margin: 2rem 0;
    padding: 1rem 0;
    font-weight: 600;
    color: var(--color-three);
    border-bottom: 1px solid var(--color-text);
}

.filter-item button {
    margin: 2rem auto;
}

.filter-item li {
    margin: 1rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.filter-price  {
    display: flex;
}

.filter-price  {
    display: flex;
}

.filter-price span {
    display: flex;
    align-items: center;
}

.filter-price label {
    margin: 0 1rem;
    font-size: 1.2rem;
}

.filter-price input {
    padding: 8px;
    border: 1px solid var(--color-text);
    outline: none;
    border-radius: 0.4rem;
    max-width: 80px;
    font-size: 1.4rem;
}