.gallery {
    width: 100%;
    @include media-breakpoint-up(lg) {
        display: flex;
        flex-wrap: wrap;
    }
}

.gallery-item {
    position: relative;
    height: 300px;
    margin-bottom: 2rem;
    box-shadow: 0 5px 16px rgba(48, 48, 48, 0.1);
    border: 1px solid var(--color-gray);
    overflow: hidden;
    border-radius: .4rem;
    width: 100%;
    @include media-breakpoint-up(lg) {
        margin: 0 2% 3rem;
        width: 45%;
    }
}

.gallery-item a {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.gallery-item img {
    width: 80%;
}

.gallery-head {
    color: var(--color-text);
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 1rem;
    left: 0;
    width: 100%;
    font-size: 1.6rem;
    padding-right: 2rem;
}

.gallery-head span {
    background: var(--color-secondary);
    width: 100px;
    padding: .5rem;
    color: white;
}

.gallery-footer {
    background: var(--color-primary);
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 2rem;
}
