.glass {
    padding: 2rem 0;
    margin-bottom: 2rem;
 }
 
 .glass > .container {
     @include media-breakpoint-up(lg) {
        display: grid;
        grid-template-columns: auto 320px;
    }
 }
 
 
 .glass-change {
    display: flex;
    flex-direction: column;
     @include media-breakpoint-up(lg) {
        display: grid;
        flex-direction: row;
        grid-template-columns: 180px auto;
        margin-bottom: 3rem;
    }
 }
 
 .glass-change-left {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    justify-content: space-evenly;
 }
 
 .glass-change span:first-child{
    border-right: 1px solid var(--color-gray);
    padding-right: 2rem;
 }
 
 .glass-profile {
    display: flex;
    align-content: center;
    height: 150px;
    position: relative;
 }
 
 
 .glass-profile p {
    position: absolute;
    bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.6rem;
    width: 100%;
    display: block;
 }
 
 .glass-profile img {
     width: 100%;
     margin: auto;
     display: block;
 }
 
 .glass-profile:first-child {
     border-bottom: 1px solid var(--color-gray);
 }
 
 .glass-selected {
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
 }
 
 .glass-selected img {
     width: 500px;
     margin: auto;
     display: block;
 }
 
 .glass-controls {
    margin-bottom: 2rem;
     @include media-breakpoint-up(lg) {
        display: grid;
        grid-template-columns: 150px auto;
        grid-gap: 2rem;
        align-items: center;
    }
 }
 
 .glass-controls h4 {
     text-align: center;
     color: var(--color-three);
     font-size: 1.4rem;
     font-weight: 500;
 }
 
 .glass-controls p {
     text-align: center;
     color: var(--color-secondary);
     font-size: 1.4rem;
 }
 
 .glass-trial {
     width: 100%;
     color: white;
     font-size: 1.8rem;
     background: var(--color-primary);
     text-align: center;
     padding: 1rem;
     cursor: pointer;
     height: auto;
 }
 
 .glass-trial i {
     margin-right: 1rem;
 }
 
 .glass-palette {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 2rem;
 }
 
 .glass-palette span {
     width: 2rem;
     height: 2rem;
     border-radius: 2rem;
     margin: 0 1rem;
     cursor: pointer;
     transition: all .2s;
 }
 
 .glass-cartInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    @include media-breakpoint-up(lg) {
        flex-direction: row;
        width: 90%;
    }

 }
 
 .glass-cartInfo li {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 
 .glass-code {
   margin-right: 2rem;
 }
 
 .glass-code h4 {
     font-size: 22px;
     color: var(--color-text);
 }
 
 .glass-code h4 span {
     font-size: 14px;
     color: var(--color-primary);
 }
 
 .glass-votes {
     display: flex;
     flex-direction: column;
 }
 
 .glass-votes i {
     font-size: 18px;
     margin-right: .5rem;
 }
 
 .glass-votes i.is-active {
     color: #f9ff15;
 }
 
 .glass-votes p {
     font-size: 14px;
     font-weight: 500;
     color: var(--color-three);
 }
 
 .glass-price {
     display: flex;
     flex-direction: column;
     margin-right: 1rem;
 }
 
 .glass-price p {
     font-size: 14px;
     text-align: right;
 }
 
 .glass-price h4 {
     font-size: 18px;
     text-align: right;
     color: var(--color-three);
 }
 
.glass-photo {
    padding: 2rem;
}

.glass-user {
    width: 200px;
    margin: 0 50px;
    position: relative;
}

.glass-uploadInfo {
    width: 120px;
    p {
        color: var(--color-text);
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 10px;
    }
}

.glass-uplaod {
    background-color: var(--color-primary);
    color: white !important;
    width: 110px;
    height: 110px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    i {
        font-size: 4rem;
    }

    label {
        font-size: 1.2rem;
    }
}

.glass-move {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
}

.glass-users {
    width: 100%;
    display: flex;
    margin: 2rem 0;
}

.glass-users-item {
    width: 90px;
    height: 90px;
    border-radius: 90px;
    margin: 0 1rem;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    display: flex;
    align-items: center;
    opacity: 0.5;
    &.is-active {
        opacity: 1;
    }
}