.glass-description {
    background: #dddddd;
    padding: 2rem;
    color: var(--color-three);
    display: flex;
    flex-direction: column;
}

.glass-description article {
    background: white;
    padding: 2rem;
}

.glass-description h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.glass-description h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.glass-description p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    text-align: justify;
}

.glass-description ul {
    margin-bottom: 2rem;
}

.glass-description li {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.glass-description li img {
   width: 50px;
   margin-right: 2rem;
}

.glass-description li span {
    font-weight: 400;
}
