.location {
    padding: 2rem 0;
    background: var(--color-gray);
}

.location > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @include media-breakpoint-up(lg) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: left;
    }
}

.location h4 {
    color:  var(--color-three);
    font-weight: 600;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    @include media-breakpoint-up(lg) {
        margin: 0;
    }
}

.location h4 span {
    font-weight: 400;
    font-style: italic;
}

.location a {
    cursor: pointer;
    color: var(--color-three);
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
