.news {
    padding: 4rem 0;
}

.news-item {
    width: 100%;
    position: relative;
    display: block;
}

.news-caption {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 2rem;
    z-index: 10;
    transform: translateY(-50%);
}

.news-caption h4 {
    color: white;
    font-size: 3.4rem;
}

.news-caption p {
    color: white;
    font-size: 1.6rem;
}

.news-offert {
    background: url(/img/news-offert.jpg);
    background-size: cover;
    height: 285px;
    margin-bottom: 3rem;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.7;
        background: var(--color-secondary);
        width: 100%;
        height: 100%;
    }
}

.news-shop {
    background: url(/img/news-shop.jpg);
    background-size: cover;
    height: 285px;
    margin-bottom: 2rem;
    @include media-breakpoint-up(lg) {
        margin-bottom: 0rem;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.7;
        width: 100%;
        height: 100%;
        background: var(--color-primary);
    }
}

.news-collection {
    background: url(/img/news-collection.jpg);
    background-size: cover;
    height: 600px;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
        width: 100%;
        height: 100%;
        background: var(--color-three);
    }
}

.news-button {
    cursor: pointer;
    border: 2px solid var(--color-three);
    padding: 1rem 3rem;
    position: absolute;
    bottom: -15px;
    background-color: white;
    right: 50px;
    font-size: 1.6rem;
    z-index: 20;
    color: var(--color-three);
    &:hover {
        background-color: var(--color-three);
        color: white;
    }
}