.offerts {
    padding: 4rem 0;
    border-top: 1px solid var(--color-gray);
}

.offerts h3 {
    font-size: 2.4rem;
    color: var(--color-three);
    text-align: center;
    font-weight: 600;
}
  
.offerts h3 span {
    text-transform: uppercase;
    color: var(--color-secondary);
    margin-bottom: 2rem;
}

.offerts p {
    color: var(--color-text);
    font-size: 1.6rem;
    text-align: center;
}

.offerts-items {
    margin-top: 6rem;
    @include media-breakpoint-up(lg) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem;
    }
}


.offerts-item {
    display: inline-block;
    height: 240px;
    position: relative;
    cursor: pointer;
    margin-bottom: 4rem;
    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
    }
}

.offerts-item span{
    position: absolute;
    top: 10px;
    background: var(--color-secondary);
    color: white;
    font-size: 14px;
    left: 0;
    padding: .5rem 1rem;
}

.offerts-price {
    text-align: center;
    display: block;
    color: var(--color-text);
    font-size: 2rem;
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}