
.prescription {
    margin-bottom: 4rem;
}

.prescription h3 {
    background: var(--color-primary);
    padding: 1rem 2rem;
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
}

.prescription i {
    color: var(--color-primary);
    margin-left: 10px;
}

.prescription-body {
    background: #ddd;
    padding: 2rem;
}

.prescription-tabs {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    @include media-breakpoint-up(lg) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        flex-direction: row;
        grid-gap: 2rem;
        align-items: center;
        margin-bottom: 2rem;
    }
}

.prescription-tabs li {
    color: var(--color-primary);
    padding: 2rem 4rem;
    font-size: 1.6rem;
    cursor: pointer;
    text-align: center;
    background: white;
    border: 1px solid var(--color-primary);
    margin-bottom: 2rem;
    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
    }
}

.prescription-label {
    color: var(--color-text);
    font-size: 1.6rem;
}

.prescription-item {
    margin-bottom: 2rem;
    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
    }
}
