.question {
    padding: 2rem 0;
    margin-bottom: 1rem;
}

.question h3 {
    background: var(--color-primary);
    padding: 1rem 2rem;
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
}

.question-body {
    background: #dddddd;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(lg) {
        display: grid;
        flex-direction: row;
        justify-content: space-between;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2rem;
    }
}

.question-item {
    background:white;
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
    }
}

.question-item h4 {
    font-size: 1.6rem;
    color: var(--color-three);
    padding: 1rem 1rem 0;
}

.question-item p {
    font-size: 1.4rem;
    font-style: italic;
    color: var(--color-three);
    padding: .5rem;
    margin-bottom: .5rem;
}

.question-item span {
    font-size: 1.4rem;
    color: white;
    padding: .8rem;
    background-color: var(--color-three);
    display: block;
    width: 100%;
}
