.services {
    padding: 4rem 0;
}

.services > .container {
    display: grid;
    @include media-breakpoint-up(lg) {
        grid-gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
    }
}

.services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
    &:last-child {
        margin-bottom: 0rem;
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
    }
}

.services-item img {
    width: 15rem;
    height: 15rem;
    border-radius: 15rem;
    display: block;
    margin-bottom: 1rem;
}

.services-item a {
    color: var(--color-text);
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    margin: 1rem 0;
    text-decoration: none;
    &:hover {
        color: var(--color-primary);
    }
}

.services-item p {
    color: var(--color-text);
    font-size: 1.4rem;
}