.bx-wrapper .bx-controls-direction {
    display: none;
}

.bx-viewport {
    height: 400px !important;
}

.slider-content img {
    width: 100%;
    height: 400px !important;
}

.slider {
    position: relative;
}

.slider-caption {
    color: white;
    position: absolute;
    right: 0;
    z-index: 20;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    @include media-breakpoint-up(lg) {
        width: 600px;
    }
}

.slider-caption h3 {
    color: white;
    font-size: 3.6rem;
    margin: 0;
}

.slider-caption p {
    margin: 1rem 0 2rem;
    font-size: 1.4rem
}

.slider-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    @include media-breakpoint-up(lg) {
        flex-direction: row;
    }
}

.slider-button {
    display: inline-block;
    background: white;
    color: var(--color-primary);
    border-radius: .2rem;
    padding: 1rem 3rem;
    font-weight: 500;
    text-decoration: none;
    margin-right: 2rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
    }
}

.slider-button-outline {
    background: transparent;
    color: white;
    border: 1px solid white;
    &:hover {
        background: white;
        color: var(--color-primary);
    }
}
